@import "tailwindcss";

@theme {
  --color-primary-50: #f8fafc;
  --color-primary-100: #f1f5f9;
  --color-primary-200: #e2e8f0;
  --color-primary-300: #cbd5e1;
  --color-primary-400: #94a3b8;
  --color-primary-500: #64748b;
  --color-primary-600: #475569;
  --color-primary-700: #334155;
  --color-primary-800: #1e293b;
  --color-primary-900: #0f172a;
  --color-primary-950: #020617;

  --color-accent-50: #fefce8;
  --color-accent-100: #fef3c7;
  --color-accent-200: #fed7aa;
  --color-accent-300: #fdba74;
  --color-accent-400: #fb923c;
  --color-accent-500: #f97316;
  --color-accent-600: #ea580c;
  --color-accent-700: #c2410c;
  --color-accent-800: #9a3412;
  --color-accent-900: #7c2d12;
  --color-accent-950: #431407;
}

@layer theme {
  .dark {
    --color-primary-50: #020617;
    --color-primary-100: #0f172a;
    --color-primary-200: #1e293b;
    --color-primary-300: #334155;
    --color-primary-400: #475569;
    --color-primary-500: #64748b;
    --color-primary-600: #94a3b8;
    --color-primary-700: #cbd5e1;
    --color-primary-800: #e2e8f0;
    --color-primary-900: #f1f5f9;
    --color-primary-950: #f8fafc;

    --color-accent-50: #431407;
    --color-accent-100: #7c2d12;
    --color-accent-200: #9a3412;
    --color-accent-300: #c2410c;
    --color-accent-400: #ea580c;
    --color-accent-500: #f97316;
    --color-accent-600: #fb923c;
    --color-accent-700: #fdba74;
    --color-accent-800: #fed7aa;
    --color-accent-900: #fef3c7;
    --color-accent-950: #fefce8;
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--color-primary-900);
    border-right-color: var(--color-primary-200);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--color-primary-200);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

--rdp-accent-color {
  color: rebeccapurple;
}

@media (width <= 64rem) {
  .rdp-months {
    display: block !important;
    margin-bottom: 2rem;
  }
}
